#head1{
    text-align: center;
    color: white;
}

h1{
    border: 1px solid red;
}

#main1{
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
}

.main{
    background-color: red;
}

.submain{
    background-color: white;
}

.bg{
    background-color: rgb(223, 234, 237);
    padding: 10px 3px;
    border-radius: 5px;
    margin: 15px 2px;
}

.sub1{
    padding: 0;
    background-color: beige;
}