body{
    height: 100vh;
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "head head head" "navbar maincontent aside" "footer footer footer";
}

header{
    grid-area: head;
    background-color: black;
    color: white;
    padding: 10px;
 }

 nav{
    grid-area: navbar;
    background-color: green;
    color: yellow;
    border: 1px solid;
 }

main{
    grid-area: maincontent;
    background-color: yellow;
    color: red;
    border: 1px solid;
}

 aside{
    grid-area: aside;
    background-color: blue;
    color: green;
    
 }

 footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 10px;
 }