.App
{
    text-align:center;
    margin: 10px auto;
}
.Container{
  border:2px solid red;
  /* margin:40px; */
  font-size: 30px;
}
.counter{
  width: 35%;
  border: 2px solid black;
  margin: 20px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: yellow;
  color: red;
}
button{
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 32px;
}
.inc{
  background-color: green;
}
.dec{
  background-color: red;
}